[Unit]
Description = PrivateTmp test

[Service]
Type = simple
ExecStart = /usr/local/bin/private-tmp-test.sh
PrivateTmp = true

[Install]
WantedBy = multi-user.target
